@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&subset=cyrillic');

body {
    padding-top: 75px;

}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
button, label, input, textarea, li {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 800;
   
    line-height: 44px;
    font-size: 34px;
    letter-spacing: 2px;
}

h1 small {
    font-size: 25px;
    font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
    text-transform: uppercase;
}

h2 {
    font-weight: 700;
    font-size: 24px;

}

h6 {
    font-size: 14px;

}

h3 {
    font-weight: 700;
    font-size: 18px;
    color: #2f485e;
}

p {
    font-size: 14px;
    margin-bottom: 0 !important;
}

a {
    transition: .3s;
    color: #2f485e;
}

a:hover {
    color: #ffd326;
    text-decoration: none;
}

button:focus, a:focus {
    outline: none;
}

input:focus,textarea:focus {
    
    box-shadow: none !important;
    border-color: #2f485e !important;
}

section.padding {
    padding-top: 50px;
    ;
    padding-bottom: 50px;
}

.slick-list {
    width: 90%;
    margin: auto;
}

.slick-prev {
    left: 0%;
    padding-left: 0;
}

.slick-next {
    right: 0%;
    padding-right: 0;
}

section.portfolio .slick-arrow {
    top: 60%;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    background: 0 0;
    border: none;
    color: #2f485e;
    z-index: 1;
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 14px;
    transform: translate(0, -100%);

    cursor: pointer;
}

.tel {
    color: #2f485e;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 18px;
}

.navbar {
    background-color: white;
    box-shadow: 0px 1.5px #f2f2f2;
}

.navbar-toggler i {
    color: #2f485e;
    font-size: 28px;

}

.navbar-brand {
    line-height: 50px;
    color: #2f485e;
    font-weight: 700;
    font-size: 12px;
}

.navbar-brand img {
    width: 50px;
}

a.nav-link, button.btn {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #2f485e;
}

a.nav-link.anim:hover {
    color: #ffd326;
}

.btn.btn {
    background-color: #ffd326;
    padding-left: 20px !important;
    padding-right: 20px !important;
    border-radius: 25px;
    transition: .3s;
    border: none;
}

.btn.btn.anim:hover {
    background-color: #2f485e;
    color: #ffd326;
}

section.hero {
    background-image: url(../assets/png/backgrondHero.png);
    background-size: cover;
    background-position: 50% center;
}

section.hero .container {
    min-height: 650px;
}

section.hero .row > div {
    margin-top:7.5%
}

section.hero li {
    line-height: 25px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    
}

section.hero li img {
    width: 25px;
    display: inline-block;
}

section.hero .ctaContainer {
    background-color: white;
    width: 80%;
    max-width: 400px;
    border-radius: 25px;
    
    
    color: #2f485e;
}

.ctaContainer h5 {
    font-weight:700;
    font-size: 18px;
}

.ctaContainer h6 {
    font-size: 12px;
    text-transform: none;
}

.ctaContainer h6 span {
    font-weight: 600;
}

.ctaContainer form {
    width: 80%;
    margin: auto;
}

.ctaContainer .form-group {
    margin-top: 15px;
    margin-bottom: 0;
}

.ctaContainer input {
    padding: 10px;
    border-radius: 25px;
    font-size: 14px;
    color: #2f485e;
    font-weight: 500;
}

section.hero h4 {
    color: white;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 24px;
}

section.hero  span {
    color: #ffd326;
}

section.hero a.nav-link {
    max-width: 200px;
    display: inline-block;
    border: 3px solid #ffd326;
}

section.hero .heroImg img {
    display: block;
    margin: auto;
    width: 17%;
    min-width: 100px;
    max-width: 300px;
}

section.features p, section.features h4 {
    color: #2f485e;
}

.feature {
    margin-bottom: 50px;
}


.feature img {
    width: 20%;
    max-width: 120px;
    
}

.feature span {
    color: #ffd326;
    font-weight: 600;
}

.feature h4 {
    font-weight: 700;
    font-size: 16px;
}

.feature p {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.divider {
    margin-top: 15px;

    width: 100px;
    margin-left: auto;
    margin-right: auto;
    height: 4px;
    border-radius: 25px;
    background-color: #2f485e;
}

.section-heading {
    color: #2f485e;
    margin-bottom: 50px;
}

.section-heading.inverse {
    color: white;

}


section.portfolio .w-arrow {
    width: 5%;
}

.case img {
    border-radius: 15px;
    width: 90%;
}

.case {
    color: #2f485e;
}

.case h4 {
    font-weight: 600;
    font-size: 18px;
}

.case h6 {
    font-weight: 600;
    font-size: 14px;
    margin-top: 15px;
}

.slick {
    width: 100%;
    display: inline-block;
}

section.reviews, section.price {
    min-height: 50px;
    background-image: url(../assets/png/back.png);
    background-size: cover;
    background-position: 50% center;
}

section.reviews i {
    color: white;
}

section.reviews a {
    color: white;
    font-size: 12px;
}

section.reviews img {
    margin: auto;
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: '';
    background-color: #f2f2f2;

}

.timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
}

.timeline > li:after,
.timeline > li:before {
    display: table;
    content: ' ';
}

.timeline > li:after {
    clear: both;
}

.timeline > li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline > li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;

}

.timeline > li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;

}

.timeline > li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 7px solid #f2f2f2;
    border-radius: 100%;
    background-color: #2f485e;
}

.rounded-circle {
    border-radius: 50%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.timeline > li .timeline-image h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 18px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;

}

.timeline > li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h3 {
    margin-top: 0;
    
    
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}



.timeline .timeline-body > ul,
.timeline .timeline-body > p {
    margin-bottom: 0;
}


/* CHECKBOXES */

.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid white;
    background-color: white;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
    color: #2f485e;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

/* =============== */

section.price h5 {
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 2px
}

section.price .row {
    padding-top: 20px;
    padding-bottom: 60px
}

section.price label {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
     cursor: pointer;
}

.contactForm input, .contactForm textarea {
    padding: 15px;
    
    font-size: 14px;
    color: #2f485e;
    
}



.contactForm textarea {
    height: 210px;
}

.form-group {
    margin-bottom: 25px;
}

.form-group.lessMargin {
    margin-bottom: 15px;
}

.contactForm button {
    padding: 10px 50px !important;
}


.footer img {
    width: 7.5%;
    min-width: 150px;
}

.odometer {
    margin-bottom: 5px;
}

.slick-slide img{
    margin: auto;
}

section.portfolio h6 {
    line-height: 20px;
}

.reviews img {
    width: 100px;
    border-radius: 100%;
}

.monthlyPaid .odometer {
    font-size: 36px;
    color: #2f485e;
    font-weight: 500;
    line-height: 36px;
}





.monthlyPaid p {
   margin: auto;
    max-width: 300px;
}

@media (min-width: 768px) {
    .timeline:before {
        left: 50%;
    }
    .timeline > li {
        min-height: 100px;
        margin-bottom: 100px;
    }
    .timeline > li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }
    .timeline > li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }
    .timeline > li .timeline-image h4 {
        font-size: 13px;
        line-height: 18px;
        margin-top: 20px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }

}

@media (min-width: 992px) {
    .navbar {
        height: 75px;
    }

    section.reviews p {
        width: 80%;
        margin: auto
    }
    
    .timeline > li {
    min-height: 150px; }
    .timeline > li .timeline-panel {
      padding: 40px 20px 20px; }
    .timeline > li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -75px; }
      .timeline > li .timeline-image h4 {
        font-size: 18px;
        line-height: 26px;
        margin-top: 37px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 40px 20px 20px; } 
}

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px; }
    .timeline > li .timeline-panel {
      padding: 40px 20px 0px 70px; }
    .timeline > li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -75px; }
      .timeline > li .timeline-image h4 {
        margin-top: 50px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 40px 70px 0px 20px; } }



@media (max-width: 992px) {
    .navbar {
        text-align: center;
    }
    
    h1 {
        font-size: 30px;
    }

    .slick-list {
        width: 100%;
        margin: auto;
    }
    
    
    
    .feature h3 {
        font-size: 16px;
    }
    
    .case img {
        width: 100%;
    }
    
    section.hero .ctaContainer {
        width: 100%;
    }
}


.heroImg img {
    animation: mover 10s ease-in-out infinite;
/*    position: absolute*/
    
    
  
}

@keyframes mover {
  0%, 100% {
    transform: translateY(25px)
  }
  50% {
   transform: translateY(0px)
  }
}
